<section class="h-center">
	<h1><b><span class="framed">CONTACT US</span></b></h1>
	<div class="framed">
		<p><b>Office in Israel:</b><br>Uriel Ofek 8,<br>herzliya,<br>Israel.</p>
		<p><b>Office in Singapore:</b><br>The Octagon,<br>105 Cecil street,<br>Singapore.</p>
	</div>
	<p class="center"><b class="framed">For further information contact us at:</b></p>
	<p class="center"><a class="framed" href="mailto:contact@polaris-sys.com" target="_blank"><b>Contact@Polaris-Sys.com</b></a></p>
</section>